.container {
    margin-top: 40px;
    border: 2px solid #343434;
    border-radius: 24px;
    overflow: hidden;
}

.recipe {
    padding: 0 24px;
    display: grid;
    grid-template-columns: 400px 1fr;
    gap: 24px;
    margin-top: 24px;
}

.ingredients {
    margin-right: 40px;
}

@media (max-width: 768px) {
    .recipe {
        grid-template-columns: 1fr;
    }

    .ingredients {
        margin-right: 0;
    }
}