.container {
    --bg-color: #CE7685;
    margin-top: 180px;
    position: relative;
}

.image {
    border: 6px solid var(--bg-color);
    border-radius: 100%;
    overflow: hidden;
    transform: translateX(-50%)
}

.header {
    background-color: var(--bg-color);
}

.recipe {
    border: 6px solid var(--bg-color);
    padding: 24px;
    display: grid;
    grid-template-columns: 400px 1fr;
    gap: 24px;
}

.ingredients {
    margin-right: 40px;
}

@media (max-width: $mantine-breakpoint-md) {
    .recipe {
        grid-template-columns: 1fr;
    }

    .ingredients {
        margin-right: 0;
    }
}