/* BOX-SIZING */
* {
    box-sizing: border-box;
}

ul,
ol {
    margin: 0;
    padding: 0 0 0 var(--static-space-12);
    line-height: 150%;
}

ol li {
    position: relative;
    margin: 0 0 8px 24px;
    padding: 0 0 0 24px;
    list-style: none;
    margin-bottom: 24px;
    min-height: 24px;
    border-left: 1px solid #343434;
    list-style: none;
    font-size: inherit;
    color: inherit;
    counter-increment: custom;

    &::before {
        content: counter(custom);
        font-size: 24px;
        position: absolute;
        top: 0px;
        left: -35px;
        width: 40px;
        margin-right: 10px;
        padding: 0;
    }
}

ol li:first-child {
    counter-reset: custom;
}

ul {
    padding-left: 40px;
    margin: 20px 0;
    list-style-type: disc;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid rgba(52, 52, 52, 0.6);
}

ul li {
    font-size: 16px;
    text-decoration: none;
    text-transform: none;
    margin-bottom: 20px;
}

img {
    user-select: none;
}

/* SELECTION */
::selection {
    background: var(--neutral-on-background-medium);
    color: var(--neutral-background-strong);
}

/* LINK */
a {
    color: var(--brand-on-background-medium);
    text-decoration: none;
    text-decoration-thickness: 1px;
    text-underline-offset: 0.25em;
    text-decoration-color: var(--neutral-border-strong) !important;

    &:hover {
        text-decoration-line: underline;
    }
}

/* SCROLLBAR */
::-webkit-scrollbar {
    background: var(--static-transparent);
    width: var(--static-space-8);
    height: var(--static-space-8);
}

::-webkit-scrollbar-track {
    background: var(--static-transparent);
}

::-webkit-scrollbar-thumb {
    background: var(--neutral-alpha-medium);
    border-radius: var(--radius-full);
    transition: var(--transition-micro-medium);

    &:hover {
        background: var(--neutral-alpha-strong);
    }
}

::-webkit-scrollbar-corner {
    background-color: var(--static-transparent);
}

img.recipe-image {
    margin-top: 24px;
}

@media (max-width: 768px) {
    img.recipe-image {
        max-width: 100%;
    }
}

@media (min-width: 768px) {
    img.recipe-image {
        max-width: 49%;
    }
}