button.control {
    padding-left: var(--mantine-spacing-md);
    padding-right: var(--mantine-spacing-md);
    height: 100%;

    @media (max-width: $mantine-breakpoint-sm) {
        height: 42px;
        width: 100%;
        align-items: baseline;
    }

    @mixin hover {
        background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
    }

   > span {
        @media (max-width: $mantine-breakpoint-sm) {
            justify-content: flex-start;
        }
    }
}



.icon {
    width: 22px;
    height: 22px;
}
  
.dark {
    @mixin dark {
        display: none;
    }

    @mixin light {
        display: block;
    }
}

.light {
    @mixin light {
        display: none;
    }

    @mixin dark {
        display: block;
    }
}