.control {
    padding-left: var(--mantine-spacing-md);
    padding-right: var(--mantine-spacing-md);

    @media (max-width: $mantine-breakpoint-sm) {
        height: 42px;
    }
}

.icon {
    width: 22px;
    height: 22px;
}
  
.dark {
    @mixin dark {
        display: none;
    }

    @mixin light {
        display: block;
    }
}

.light {
    @mixin light {
        display: none;
    }

    @mixin dark {
        display: block;
    }
}